<% content_for :title, "Home" %>

<div class="logo">
  <img src="/icon.svg" alt="gpr.moe logo">
</div>

<h1>GPR.moe</h1>

<p>
  This is just some random URL shortener website created by
  <a href="https://gagahpangeran.com" target="_blank">GPR</a>. You can see the
  <a href="https://github.com/gagahpangeran/gpr.moe/">source code</a> and host
  it by yourself.
</p>