<% content_for :title, "Edit Link" %>

<h1>Edit Link</h1>

<div>
  <%= link_to "Back to all links", links_path %>
</div>

<div>
  <strong>Visit count:</strong> <%= @link.visit_count %>
</div>

<% disabled = @link.visit_count > 5 %>

<% if disabled %>
<div>
  You can't edit a link that has been visited more than 5 times.
</div>
<% end %>

<%= render "form", link: @link, disabled: disabled %>
