input[type="text"],
input[type="password"],
input[type="submit"],
button[type="submit"] {
  display: block;
  border-radius: 4px;
  width: 100%;
  height: 4rem;
  padding: 8px 12px;
  margin: 16px 0;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: inherit;

  &.dangerous {
    background-color: red;
    color: var(--white);
  }

  &:disabled {
    background-color: var(--pink-2);
    cursor: not-allowed;
  }
}

input[type="text"],
input[type="password"] {
  background-color: var(--white);
  border: 2px solid var(--pink-1);
}

input[type="submit"],
button[type="submit"] {
  background-color: var(--pink-1);
  flex: 1;
  border: 0;
  cursor: pointer;
}
