.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);

  ul {
    display: flex;

    li {
      height: 50px;

      a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--black-1);
        padding: 0 16px;

        &:hover {
          color: var(--pink-1);
        }
      }

      &.separator {
        flex: 1;
      }
    }
  }
}