.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--pink-1);
  height: var(--navbar-height);
  z-index: 2;

  ul {
    display: flex;
    height: 100%;
    max-width: var(--wrapper-width);
    margin: 0 auto;

    li {
      height: 100%;

      a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--black-1);
        padding: 0 16px;

        &:hover {
          color: var(--white);
        }
      }

      &.separator {
        flex: 1;
      }
    }
  }

  .menu {
    display: none;

    button {
      height: var(--navbar-height);
      width: var(--navbar-height);
      background: url("menu-button.svg") center center no-repeat;
      background-size: 50% auto;
      border: none;
      cursor: pointer;
      display: block;
    }

    a {
      display: block;
      height: var(--navbar-height);
      padding: 12px 0;

      img {
        display: block;
        height: 100%;
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    ul {
      position: absolute;
      top: var(--navbar-height);
      left: 0;
      flex-direction: column;
      height: calc(100vh - var(--navbar-height));
      width: 100%;
      background-color: var(--pink-2);
      transition: transform 200ms ease-in-out;

      &[data-mobile-state="open"] {
        transform: translateX(0%);
      }

      &[data-mobile-state="close"] {
        transform: translateX(-100%);
      }

      li {
        height: var(--navbar-height);
      }
    }

    .menu {
      display: flex;
    }
  }
}
