table {
  width: 100%;
  background-color: var(--white);
  margin: 8px 0;

  a {
    color: var(--black-1);
    text-decoration: underline;
  }

  tr {
    &:nth-child(odd) {
      background-color: var(--pink-2);
    }
  }

  td {
    padding: 4px 8px;
    position: relative;

    &:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &:first-child {
      padding-right: 40px;
    }

    .copy-button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      display: none;
      cursor: pointer;
      opacity: 0.2;
      background-color: var(--pink-1);
      border: none;
      padding: 0 8px;
      font-size: 0.7rem;

      &:hover {
        opacity: 1;
      }
    }

    &:hover > .copy-button {
      display: block;
    }
  }
}
